@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-LightItalic.ttf');
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: 'Courier New';
    src: url('./fonts/Courier New/Courier New.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Courier New';
    src: url('./fonts/Courier New/Courier New Bold Italic font.ttf');
    font-weight: bold;
}

body {
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: 'Lato';
}

.nav-logo {
    font-size: 38pt;
    font-family: 'Courier New';
    font-weight: bold;
}

.nav-logo-box {
    padding: 10px 0 10px 10px;
    background-color: #4F6BFF;
    border-radius: 10px;
}

.modal-body-title {
    margin-bottom: 30px;
}

.intro-title {
    margin-bottom: 30px;
    font-size: 32pt;
    font-weight: bold;
}

.intro {
    padding-top: 100px;
    padding-bottom: 50px;
}

.about-title {
    margin-bottom: 30px;
    font-weight: bold;
}

.about {
    padding: 50px 0;
    background-color: #4F6BFF;
}

.projects {
    padding: 50px 0;
}

.column-title {
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 24pt;
}

.list-title {
    margin: 30px 0;
    font-weight: bold;
    font-size: 16pt;
    color: #4F6BFF;
}

.footer-logo {
    margin-bottom: 50px;
    font-size: 42pt;
    font-family: 'Courier New';
    font-weight: bold;
    text-align: center;
    color: white;
}

.footer-logo-box {
    padding: 10px 10px 10px 0;
    background-color: #4F6BFF;
    border-radius: 10px;
}

.footer {
    padding-top: 230px;
    padding-bottom: 50px;
}

.footer-title {
    margin: 30px 0;
}

.fine-print {
    font-size: 8pt;
    margin-bottom: 2px;
}